.todoblot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.8;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  outline: none;
  margin: 0;
  padding: 4px 20px;
  color: #37352f;
  line-weight: 300;
}

.todoblot-container--active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.8;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 4px 20px;
  color: #37352f;
  line-weight: 300;
  background:#F6F6F6;
}
.todoblot-left {
  display: flex;
  flex-display: row;
  align-items: center;
}

.todoblot-right {
  display: flex;
  flex-display: row;
  align-items: center;
}
.todoblot-circle {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 2px solid #E5E5E5;
  margin-right: 6px;
}

.todoblot-circle--active {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  border: 2px solid #D33C3C;
  margin-right: 6px;
}

.todoblot-title {
  color: #37352f;
}

.todoblot-tag {
  color: #5783f7;
  background: #eef3fe;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 10px;
  margin-right: 4px;
}

.todoblot-deadline {
  color: #D33C3C;
  background: #FFE8F0;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  width: auto;
  font-size: 10px;
}