/*.editor-input:empty::before {*/
/*  pointer-events: none;*/
/*  min-height: 14px;*/
/*  !*max-height: 500px;*!*/
/*  !*overflow-y: scroll;*!*/
/*  line-height: 1.8;*/
/*  text-align: left;*/
/*  font-family: Roboto;*/
/*  font-size: 14px;*/
/*  color: #37352f;*/
/*  opacity: 40%;*/
/*  border: none;*/
/*  outline: none;*/
/*  margin: 0;*/
/*}*/

.editor-input:focus {
  outline: none;
}

.editor-input {
  min-height: 14px;
  /*max-height: 500px;*/
  /*overflow-y: scroll;*/
  line-height: 1.8;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  color: #37352f;
  border: none;
  outline: none;
  margin: 0;
}
