.container {
  width: 600px;
  height: 100%;
  margin: 126px auto 0 auto;
}
.topbar {
  margin-bottom: 16px;
  text-align: left;
}
.topbar-heading {
  font-family: BebasNeue-Bold;
  font-size: 26px;
  color: #5F5F5F;
  letter-spacing: -0.08px;
}